/* Imports */
@import url("pygment.css");

:root {
  --main-color: #1b5a53;
}

header > h1 > a {
	text-decoration: none;
}

header nav ul li {
  display: inline;
}

header h1 {
  display: inline;
}

header nav ul {
  margin: 0px;
  -webkit-padding-start: 1em;
  display: inline;
}

figure {
  max-width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-style: italic;
}

figure img {
  max-width: inherit;
}

p img {
  max-width: 90%;
}

body {
  font-family: system-ui, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

@media screen and (min-width: 40.5em) {
	body {
		width: 40em;
    margin-left: auto;
    margin-right: auto;
	}

	.navmenu {
		display: inline;
	}
}


.readmore {
  text-align: right;
}

.rightside {
  float: right;
}

.websitetitle {
  font-size: 2em;
  margin-bottom: 0px;
}

header > nav {
  margin-top: 0px;
}

a {
  color: var(--main-color);
}

a:hover {
  color: #2f7825;
}

a:visited {
  color: #102346;
}

abbr {
  text-decoration: underline dashed var(--main-color);
  cursor: help;
}

.tag {
  border: 1px solid;
  border-radius: 7px;
  padding: 2px;
  text-decoration: none;
  margin-right: .3em;
}

.tag::before {
  content: "#";
}

.articleFooterP {
	line-height: 1.5em;
}

.baseFooter {
	line-height: .5em;
}

article div hr {
	width: 90%;
	border-style: dashed;
}

hr {
	border-color: #1b5A53;
}

video {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* Found this at https://codepen.io/iPawan/pen/emrPKP */

blockquote {
  display:block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: var(--main-color);

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: var(--main-color);
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  /*font-family: Georgia, serif;*/
  font-size: 50px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;

}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

dl {
  display: grid;
  grid-template-columns: 2;
}

dl dt {
  color: var(--main-color);
  grid-column: 1;
  font-weight: bold;
}

dl dd {
  grid-column: 2;
}
